/* 

   Here for root variables,
   text variables,
   utopian rulesets

*/

/* ——————————————————————————————————————— FONTS */

/* ———————— VARIABLE */
@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400 600 700;
  src: local("Figtree") url("assets/font/figtree-vf-normal.woff2")
    format("woff2") tech(variations);
}

/* ———————— FALLBACKS */

@font-face {
  font-display: swap;
  font-family: "Figtree Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Figtree Regular") url("assets/font/figtree-400-normal.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Figtree Semibold";
  font-style: normal;
  font-weight: 600;
  src: local("Figtree Semibold") url("assets/font/figtree-600-normal.woff2")
    format("woff2");
}

/* ——————————————————————————————————————— VARIABLES */

:root {
  /* —————————————————————————————————————————————————————————— COLORS */

  /* Brand */
  --blue-primary: #005eb8;
  --blue-background: #aadafc;
  --yellow-accent: #fdc700;

  --black-secondary: #71717b;
  --black-primary: #222222;

  --white-background: #fafafa;
  --white-foreground: #f8f5ee;
  --border: #e4e4e7;

  --disabled: #b4b4b4;

  /* Overlays */
  --overlay-dark-shadow: rgba(0, 0, 0, 0.1);
  --overlay-light-glass: rgba(255, 255, 255, 0.5);
  --overlay-light-background: rgba(255, 255, 255, 0.8);
  --overlay-fade: rgba(192, 192, 192, 0.6);

  /* Shadows */
  --shadow-sm: 0 1px 1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 1px 2px rgba(0, 0, 0, 0.1);

  /* —————————————————————————————————————————————————————————— SPACES */

  /* Fixed */

  /* Space 3xs: 4px → 5px */
  --space-3xs: clamp(0.25rem, 0.2356rem + 0.0641vw, 0.3125rem);
  /* Space 2xs: 8px → 10px */
  --space-2xs: clamp(0.5rem, 0.4712rem + 0.1282vw, 0.625rem);
  /* Space xs: 12px → 15px */
  --space-xs: clamp(0.75rem, 0.7067rem + 0.1923vw, 0.9375rem);
  /* Space s: 16px → 20px */
  --space-s: clamp(1rem, 0.9423rem + 0.2564vw, 1.25rem);
  /* Space m: 24px → 30px */
  --space-m: clamp(1.5rem, 1.4135rem + 0.3846vw, 1.875rem);
  /* Space l: 32px → 40px */
  --space-l: clamp(2rem, 1.8846rem + 0.5128vw, 2.5rem);
  /* Space xl: 48px → 60px */
  --space-xl: clamp(3rem, 2.8269rem + 0.7692vw, 3.75rem);
  /* Space 2xl: 64px → 80px */
  --space-2xl: clamp(4rem, 3.7692rem + 1.0256vw, 5rem);
  /* Space 3xl: 96px → 120px */
  --space-3xl: clamp(6rem, 5.6538rem + 1.5385vw, 7.5rem);

  /* Pairs */

  /* Space 3xs-2xs: 4px → 10px */
  --space-3xs-2xs: clamp(0.25rem, 0.1635rem + 0.3846vw, 0.625rem);
  /* Space 2xs-xs: 8px → 15px */
  --space-2xs-xs: clamp(0.5rem, 0.399rem + 0.4487vw, 0.9375rem);
  /* Space xs-s: 12px → 20px */
  --space-xs-s: clamp(0.75rem, 0.6346rem + 0.5128vw, 1.25rem);
  /* Space s-m: 16px → 30px */
  --space-s-m: clamp(1rem, 0.7981rem + 0.8974vw, 1.875rem);
  /* Space m-l: 24px → 40px */
  --space-m-l: clamp(1.5rem, 1.2692rem + 1.0256vw, 2.5rem);
  /* Space l-xl: 32px → 60px */
  --space-l-xl: clamp(2rem, 1.5962rem + 1.7949vw, 3.75rem);
  /* Space xl-2xl: 48px → 80px */
  --space-xl-2xl: clamp(3rem, 2.5385rem + 2.0513vw, 5rem);
  /* Space 2xl-3xl: 64px → 120px */
  --space-2xl-3xl: clamp(4rem, 3.1923rem + 3.5897vw, 7.5rem);

  /* radius */
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-pill: 43px;
  --radius-full: 9999px;

  /* —————————————————————————————————————————————————————————— TYPOGRAPHY */

  /* DIMENSIONS */

  /* Step -2: 11.1111px → 12.8px */
  --text-caption: clamp(0.6944rem, 0.6701rem + 0.1083vw, 0.8rem);
  /* Step -1: 13.3333px → 16px */
  --text-sm: clamp(0.8333rem, 0.7949rem + 0.1709vw, 1rem);
  /* Step 0: 16px → 20px */
  --text-body: clamp(1rem, 0.9423rem + 0.2564vw, 1.25rem);
  /* Step 1: 19.2px → 25px */
  --text-lead: clamp(1.2rem, 1.1163rem + 0.3718vw, 1.5625rem);
  /* Step 2: 23.04px → 31.25px */
  --text-h4: clamp(1.44rem, 1.3216rem + 0.5263vw, 1.9531rem);
  /* Step 3: 27.648px → 39.0625px */
  --text-h3: clamp(1.728rem, 1.5634rem + 0.7317vw, 2.4414rem);
  /* Step 4: 33.1776px → 48.8281px */
  --text-h2: clamp(2.0736rem, 1.8479rem + 1.0032vw, 3.0518rem);
  /* Step 5: 39.8131px → 61.0352px */
  --text-h1: clamp(2.4883rem, 2.1822rem + 1.3604vw, 3.8147rem);
  /* Step 6: 57.3309px → 95.3674px */
  --text-display: clamp(3.5832rem, 3.0346rem + 2.4382vw, 5.9605rem);
  /* Step 8: 68.7971px → 119.2093px */
  --text-hero: clamp(4.2998rem, 3.5727rem + 3.2316vw, 7.4506rem);

  /* LEADING */
  /* line-height */
  --leading-body: 1.5;
  --leading-snug: 1.4;
  --leading-heading: 1.1;
  --leading-display: 0.9;

  /* letter-spacing */
  --tracking-normal: 0;
  --tracking-label: 0.02em;
  --tracking-eyebrow: 0.06em;

  /* FONT */
  --sans-regular: "Figtree Regular", Arial, Helvetica, system-ui, sans-serif;
  --sans-semibold: "Figtree Semibold", Arial, Helvetica, system-ui, sans-serif;

  @supports (font-variation-settings: normal) {
    --sans: "Figtree", Arial, Helvetica, system-ui, sans-serif;
    --sans-semibold: "Figtree", Arial, Helvetica, system-ui, sans-serif;
  }

  font: 400 16px var(--sans-regular);
  font-synthesis: none;
  font-variant-numeric: tabular-nums;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--background);
}
